# General Functions for handling excel and csv

## csv files with encoding other than utf8

In [14]:
#!pip install chardet

In [15]:
import pandas as pd

In [16]:
#Use chardet to detect the encoding in the file

import chardet

file = "./data/Oscars-demographics-DFE.csv"
with open(file, 'rb') as f:
    encoding = chardet.detect(f.read())
print(encoding)

{'encoding': 'ISO-8859-1', 'confidence': 0.7289274470020289, 'language': ''}

In [17]:
# There will be an error reading from file 
df_utf8 = pd.read_csv(file)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xcc in position 10443: invalid continuation byte

In [18]:
# Use the same method to read based on the encoding detected earlier
df_w_encoding = pd.read_csv(file, encoding=encoding['encoding'])
df_w_encoding.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,birthplace,birthplace:confidence,date_of_birth,date_of_birth:confidence,race_ethnicity,...,award,biourl,birthplace_gold,date_of_birth_gold,movie,person,race_ethnicity_gold,religion_gold,sexual_orientation_gold,year_of_award_gold
0,670454353,False,finalized,3,2/10/15 3:45,"Chisinau, Moldova",1.0,30-Sep-1895,1.0,White,...,Best Director,http://www.nndb.com/people/320/000043191/,NaN,NaN,Two Arabian Knights,Lewis Milestone,NaN,NaN,NaN,NaN
1,670454354,False,finalized,3,2/10/15 2:03,"Glasgow, Scotland",1.0,2-Feb-1886,1.0,White,...,Best Director,http://www.nndb.com/people/626/000042500/,NaN,NaN,The Divine Lady,Frank Lloyd,NaN,NaN,NaN,NaN
2,670454355,False,finalized,3,2/10/15 2:05,"Chisinau, Moldova",1.0,30-Sep-1895,1.0,White,...,Best Director,http://www.nndb.com/people/320/000043191/,NaN,NaN,All Quiet on the Western Front,Lewis Milestone,NaN,NaN,NaN,NaN
3,670454356,False,finalized,3,2/10/15 2:04,"Chicago, Il",1.0,23-Feb-1899,1.0,White,...,Best Director,http://www.nndb.com/people/544/000041421/,NaN,NaN,Skippy,Norman Taurog,NaN,NaN,NaN,NaN
4,670454357,False,finalized,3,2/10/15 1:48,"Salt Lake City, Ut",1.0,23-Apr-1894,1.0,White,...,Best Director,http://www.nndb.com/people/292/000044160/,NaN,NaN,Bad Girl,Frank Borzage,NaN,NaN,NaN,NaN

## Excel with multiple sheet of data 

- Using a Sample Data Dictionary as example where each sheet rrepresents an SAP table which contains the data definition of the fields within
- When sheets_name = None parameter is passed in, pandas will read the data in all the sheets as a df and create a dictionary with the sheetname as key and the df as the value

In [19]:
# Reading in the data
sample_SAP_data_dict = "./data/SAP Data Dictionary Selected Tables.xlsx"
data_sheet_dict = pd.read_excel(sample_SAP_data_dict, sheet_name=None)

In [20]:
#Display the names of each sheet in excel
list_sheets = list(data_sheet_dict.keys())
print(f"There are {len(list_sheets)} sheets in the excel file")
print(f"The sheets are {list_sheets}")

There are 11 sheets in the excel file
The sheets are ['BKPF', 'BSAK', 'BSEG', 'EKPO', 'EKKO', 'EBAN', 'EKBE', 'EKKN', 'ESLL', 'ESLH', 'MAKT']

In [21]:
# Each individual df is stored within the corresponding value 
data_sheet_dict['BSEG'].head()

,Field,Field Name,Data element,Checktable,Datatype,Length,Decimals
0,MANDT,Client,MANDT,T000,CLNT,3,0
1,BUKRS,Company Code,BUKRS,T001,CHAR,4,0
2,BELNR,Accounting Document Number,BELNR_D,NaN,CHAR,10,0
3,GJAHR,Fiscal Year,GJAHR,NaN,NUMC,4,0
4,BUZEI,Number of Line Item Within Accounting Document,BUZEI,NaN,NUMC,3,0

One application of using the information is to create a table showing the common columns among each table where the tables are represented as rows and columns represented as columns

In [22]:
df = data_sheet_dict['BSEG']

In [23]:
df['Present'] = 1
df['SAP_Table'] = 'BSEG'

In [24]:
df[['SAP_Table','Field', 'Present']].pivot_table(columns='Field',
                                     values='Present',
                                     index='SAP_Table')

Field,ABPER,ABSBT,AGZEI,ALTKT,ANBWA,ANFAE,ANFBJ,ANFBN,ANFBU,ANLN1,...,ZEKKN,ZFBDT,ZINKZ,ZLSCH,ZLSPR,ZOLLD,ZOLLT,ZTERM,ZUMSK,ZUONR
SAP_Table,,,,,,,,,,,,,,,,,,,,,
BSEG,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [25]:
def extract_columns_info(df, sheet_name, list_column_field):
    df_temp = df.copy()
    df_temp['SAP_Table'] = sheet_name
    df_temp['Present'] = 1
    columns_select = ['SAP_Table'] + list_column_field + ['Present']
    print(columns_select)

    return df_temp[columns_select].pivot_table(columns=list_column_field,
                                     values='Present',
                                     index=['SAP_Table'])

In [26]:
list_column_field = ['Field']
list_df = []
for sheet_name, df in data_sheet_dict.items():
    print(df)
    print(sheet_name)
    df_processed = extract_columns_info(df,sheet_name, list_column_field)
    list_df.append(df_processed)

        Field                          Field Name Data element Checktable  \
0       MANDT                              Client        MANDT       T000
1       BUKRS                        Company Code        BUKRS       T001
2       BELNR          Accounting Document Number      BELNR_D        NaN
3       GJAHR                         Fiscal Year        GJAHR        NaN
4       BLART                       Document Type        BLART       T003
..        ...                                 ...          ...        ...
110     KNUMV    Number of the document condition        KNUMV        NaN
111  OINETNUM  Exchange - netting document number   OIA_NETNUM        NaN
112   OINJAHR                         Fiscal Year        GJAHR        NaN
113    OININD    Movement-based netting indicator      OIA_NET        NaN
114     RECHN             Indicator: post invoice        XRECH        NaN

    Datatype  Length  Decimals
0       CLNT       3         0
1       CHAR       4         0
2       CHAR      10         0
3       NUMC       4         0
4       CHAR       2         0
..       ...     ...       ...
110     CHAR      10         0
111     CHAR      10         0
112     NUMC       4         0
113     CHAR       1         0
114     CHAR       1         0

[115 rows x 7 columns]
BKPF
['SAP_Table', 'Field', 'Present']
        Field                             Field Name Data element Checktable  \
0       MANDT                                 Client        MANDT        NaN
1       BUKRS                           Company Code        BUKRS       LFB1
2       LIFNR   Account Number of Vendor or Creditor        LIFNR       LFA1
3       UMSKS           Special G/L Transaction Type        UMSKS        NaN
4       UMSKZ                  Special G/L Indicator        UMSKZ        NaN
..        ...                                    ...          ...        ...
179     BTYPE                           Payroll Type    JV_BILIND       T8JA
180  OIEXGNUM              Exchange agreement number   OIA_EXGNUM        NaN
181  OINETCYC  Netting cycle (FI blocking indicator)   OIA_NETCYC        NaN
182  OIEXGTYP                          Exchange type   OIA_EXGTYP        NaN
183  PROPMANO      Mandate, Mandate-Opening Contract  REHORECNNRM        NaN

    Datatype  Length  Decimals
0       CLNT       3         0
1       CHAR       4         0
2       CHAR      10         0
3       CHAR       1         0
4       CHAR       1         0
..       ...     ...       ...
179     CHAR       2         0
180     CHAR      10         0
181     CHAR       1         0
182     CHAR       4         0
183     CHAR      13         0

[184 rows x 7 columns]
BSAK
['SAP_Table', 'Field', 'Present']
          Field                                      Field Name Data element  \
0         MANDT                                          Client        MANDT
1         BUKRS                                    Company Code        BUKRS
2         BELNR                      Accounting Document Number      BELNR_D
3         GJAHR                                     Fiscal Year        GJAHR
4         BUZEI  Number of Line Item Within Accounting Document        BUZEI
..          ...                                             ...          ...
366    OIEXGTYP                                   Exchange type   OIA_EXGTYP
367   OINEGPSTG           Negative posting line (exchange fees)   OIA_NGPSTL
368   RECID_MAN                                             NaN          NaN
369  OIPOSTZERO                               Post zero amounts   OIH_PSTZRO
370    OIINVCYC                                   Invoice cycle   OIA_INVCYC

    Checktable Datatype  Length  Decimals  Present SAP_Table
0         T000     CLNT       3         0        1      BSEG
1         T001     CHAR       4         0        1      BSEG
2          NaN     CHAR      10         0        1      BSEG
3          NaN     NUMC       4         0        1      BSEG
4          NaN     NUMC       3         0        1      BSEG
..         ...      ...     ...       ...      ...       ...
366        NaN     CHAR       4         0        1      BSEG
367        NaN     CHAR       1         0        1      BSEG
368        NaN     CHAR       1         0        1      BSEG
369        NaN     CHAR       1         0        1      BSEG
370     TOIA10     NUMC       1         0        1      BSEG

[371 rows x 9 columns]
BSEG
['SAP_Table', 'Field', 'Present']
          Field                                         Field Name  \
0         MANDT                                             Client
1         EBELN                         Purchasing Document Number
2         EBELP                 Item Number of Purchasing Document
3         LOEKZ          Deletion Indicator in Purchasing Document
4         STATU                                         RFQ status
..          ...                                                ...
355   SOURCE_ID                                     Origin Profile
356  SOURCE_KEY                               Key in Source System
357    PUT_BACK  Indicator for Putting Back from Grouped PO Doc...
358      POL_ID                             Order List Item Number
359  CONS_ORDER                     Purchase Order for Consignment

              Data element        Checktable Datatype  Length  Decimals
0                    MANDT              T000     CLNT       3         0
1                    EBELN              EKKO     CHAR      10         0
2                    EBELP               NaN     NUMC       5         0
3                    ELOEK               NaN     CHAR       1         0
4                    ASTAT               NaN     CHAR       1         0
..                     ...               ...      ...     ...       ...
355     WRF_POHF_SOURCE_ID  WRFT_POHF_SOURCE     CHAR       3         0
356    WRF_POHF_SOURCE_KEY               NaN     CHAR      32         0
357  WRF_POHF_PUT_BACK_POG               NaN     CHAR       1         0
358        WRF_POHF_POL_ID               NaN     CHAR      10         0
359         WRF_CONS_ORDER               NaN     CHAR       1         0

[360 rows x 7 columns]
EKPO
['SAP_Table', 'Field', 'Present']
               Field                                    Field Name  \
0              MANDT                                        Client
1              EBELN                    Purchasing Document Number
2              BUKRS                                  Company Code
3              BSTYP                  Purchasing Document Category
4              BSART                      Purchasing Document Type
..               ...                                           ...
147       OTB_REASON         Reason Indicator for OTB Check Status
148       CHECK_TYPE                             Type of OTB Check
149      CON_OTB_REQ                         OTB-Relevant Contract
150  CON_PREBOOK_LEV             OTB Indicator Level for Contracts
151    CON_DISTR_LEV  Distribution Using Target Value or Item Data

               Data element Checktable Datatype  Length  Decimals
0                     MANDT       T000     CLNT       3         0
1                     EBELN        NaN     CHAR      10         0
2                     BUKRS       T001     CHAR       4         0
3                    EBSTYP        NaN     CHAR       1         0
4                     ESART       T161     CHAR       4         0
..                      ...        ...      ...     ...       ...
147  WRF_POTB_STATUS_REASON        NaN     CHAR       3         0
148      WRF_BUDG_OTB_CHECK        NaN     CHAR       1         0
149        WRF_POTB_CON_REQ        NaN     CHAR       1         0
150  WRF_POTB_PREBOOK_LEVEL        NaN     CHAR       1         0
151  WRF_POTB_DISTRIB_LEVEL        NaN     CHAR       1         0

[152 rows x 7 columns]
EKKO
['SAP_Table', 'Field', 'Present']
             Field                           Field Name   Data element  \
0            MANDT                               Client          MANDT
1            BANFN          Purchase Requisition Number          BANFN
2            BNFPO  Item Number of Purchase Requisition          BNFPO
3            BSART   Purchase Requisition Document Type          BBSRT
4            BSTYP         Purchasing Document Category          BSTYP
..             ...                                  ...            ...
162      OIO_SPROC                       Supply Process      OIO_SPROC
163     OIO_STATUS                  Supply chain status  OIO_SC_STATUS
164  OIO_REF_BANFN         Reference requisition number  OIO_REF_BANFN
165  OIO_REF_BNFPO           Reference requisition item  OIO_REF_BNFPO
166       OIO_HOLD     Indicator: Hold Delivery Onshore       OIO_HOLD

    Checktable Datatype  Length  Decimals
0         T000     CLNT       3         0
1          NaN     CHAR      10         0
2          NaN     NUMC       5         0
3         T161     CHAR       4         0
4          NaN     CHAR       1         0
..         ...      ...     ...       ...
162        NaN     CHAR       4         0
163        NaN     CHAR       1         0
164        NaN     CHAR      10         0
165        NaN     NUMC       5         0
166        NaN     CHAR       1         0

[167 rows x 7 columns]
EBAN
['SAP_Table', 'Field', 'Present']
              Field                                         Field Name  \
0             MANDT                                             Client
1             EBELN                         Purchasing Document Number
2             EBELP                 Item Number of Purchasing Document
3             ZEKKN            Sequential Number of Account Assignment
4             VGABE     Transaction/event type, purchase order history
..              ...                                                ...
85       /CWM/BAMNG               Quantity in Parallel Unit of Measure
86       /CWM/WESBS  Goods Receipt Blocked Stock in Base/Parallel U...
87       /CWM/TY2TQ                   Type of Parallel Unit of Measure
88       /CWM/WESBB  Val. Goods Receipt Blocked Stock in Basis or P...
89  J_SC_DIE_COMP_F                       Depreciation completion flag

               Data element Checktable Datatype  Length  Decimals
0                     MANDT       T000     CLNT       3         0
1                     EBELN       EKKO     CHAR      10         0
2                     EBELP       EKPO     NUMC       5         0
3                    DZEKKN        NaN     NUMC       2         0
4                     VGABE        NaN     CHAR       1         0
..                      ...        ...      ...     ...       ...
85               /CWM/BAMNG        NaN     QUAN      13         3
86               /CWM/WESBS        NaN     QUAN      13         3
87               /CWM/TY2TQ        NaN     CHAR       1         0
88               /CWM/WESBB        NaN     QUAN      13         3
89  /SAPNEA/J_SC_DIE_COMP_F        NaN     CHAR       1         0

[90 rows x 7 columns]
EKBE
['SAP_Table', 'Field', 'Present']
             Field                                         Field Name  \
0            MANDT                                             Client
1            EBELN                         Purchasing Document Number
2            EBELP                 Item Number of Purchasing Document
3            ZEKKN            Sequential Number of Account Assignment
4            LOEKZ  Deletion Indicator: Purchasing Document Accoun...
..             ...                                                ...
63         TCOBJNR                                      Object number
64   DATEOFSERVICE                                    Date of Service
65       NOTAXCORR       Do Not Consider Item in Input Tax Correction
66     DIFFOPTRATE                            Real estate option rate
67  HASDIFFOPTRATE                          Use Different Option Rate

            Data element Checktable Datatype  Length  Decimals
0                  MANDT       T000     CLNT       3         0
1                  EBELN       EKKO     CHAR      10         0
2                  EBELP       EKPO     NUMC       5         0
3                 DZEKKN        NaN     NUMC       2         0
4                  KLOEK        NaN     CHAR       1         0
..                   ...        ...      ...     ...       ...
63               J_OBJNR        NaN     CHAR      22         0
64           VVBEACTDATE        NaN     DATS       8         0
65       VVREITNOTAXCORR        NaN     CHAR       1         0
66              POPTSATZ        NaN      DEC       9         6
67  VVREITUSEDIFFOPTRATE        NaN     CHAR       1         0

[68 rows x 7 columns]
EKKN
['SAP_Table', 'Field', 'Present']
            Field                              Field Name    Data element  \
0           MANDT                                  Client           MANDT
1          PACKNO                          Package number          PACKNO
2          INTROW                             Line Number        NUMZEILE
3          EXTROW                             Line Number          EXTROW
4             DEL                      Deletion Indicator             DEL
..            ...                                     ...             ...
107     OIO_MEINS                    Base unit of measure    OIO_RN_MEINS
108  OIO_RMOBSTAT                     Mobilization Status  OIO_RN_MOBSTAT
109  OIO_RNUMPACK                      Number of Packages  OIO_RN_NUMPACK
110  OIO_RVENDREF                      Vendor's Reference  OIO_RN_VENDREF
111    OIO_RX_PRT  Flag: is a Production Resource or Tool    OIO_RN_X_PRT

    Checktable Datatype  Length  Decimals
0         T000     CLNT       3         0
1         ESLH     NUMC      10         0
2          NaN     NUMC      10         0
3          NaN     NUMC      10         0
4          NaN     CHAR       1         0
..         ...      ...     ...       ...
107        NaN     UNIT       3         0
108        NaN     CHAR       1         0
109        NaN     NUMC       4         0
110        NaN     CHAR      20         0
111        NaN     CHAR       1         0

[112 rows x 7 columns]
ESLL
['SAP_Table', 'Field', 'Present']
        Field                                     Field Name Data element  \
0       MANDT                                         Client        MANDT
1      PACKNO                                 Package number       PACKNO
2         DEL                             Deletion Indicator          DEL
3     FPACKNO                          Parent package number      FPACKNO
4     HPACKNO                         Highest package number      HPACKNO
5       KNUMV               Number of the document condition        KNUMV
6       EBELN                     Purchasing Document Number        EBELN
7       EBELP             Item Number of Purchasing Document        EBELP
8       BSTYP                   Purchasing Document Category        BSTYP
9       WAERS                                   Currency Key        WAERS
10      CUOBJ         Configuration (internal object number)        CUOBJ
11  SUM_NETWR                 Net Value in Document Currency        NETWR
12      IWEIN                                  Unit for Work        IWEIN
13   SUM_WORK                                  Internal Work     INT_WORK
14    INT_USE  Service package is used for internal services      INT_USE
15      WKURS                                  Exchange Rate        WKURS
16      VBELN         Sales and Distribution Document Number        VBELN
17      POSNR                 Item number of the SD document        POSNR
18      VBTYP                           SD document category        VBTYP

   Checktable Datatype  Length  Decimals
0        T000     CLNT       3         0
1         NaN     NUMC      10         0
2         NaN     CHAR       1         0
3        ESLH     NUMC      10         0
4        ESLH     NUMC      10         0
5         NaN     CHAR      10         0
6        EKKO     CHAR      10         0
7        EKPO     NUMC       5         0
8         NaN     CHAR       1         0
9       TCURC     CUKY       5         0
10        NaN     NUMC      18         0
11        NaN     CURR      15         2
12        NaN     UNIT       3         0
13        NaN     QUAN       8         2
14        NaN     CHAR       1         0
15        NaN      DEC       9         5
16       VBUK     CHAR      10         0
17       VBUP     NUMC       6         0
18        NaN     CHAR       1         0
ESLH
['SAP_Table', 'Field', 'Present']

   Field                                         Field Name Data element  \
0  MANDT                                             Client        MANDT
1  MATNR                                    Material Number        MATNR
2  SPRAS                                       Language Key        SPRAS
3  MAKTX                  Material Description (Short Text)        MAKTX
4  MAKTG  Material description in upper case for matchcodes        MAKTG

  Checktable Datatype  Length  Decimals
0       T000     CLNT       3         0
1       MARA     CHAR      18         0
2       T002     LANG       1         0
3        NaN     CHAR      40         0
4        NaN     CHAR      40         0
MAKT
['SAP_Table', 'Field', 'Present']

In [27]:
df_consolidated = pd.concat(list_df)
df_consolidated.fillna("", inplace=True)

In [28]:
columns = ['BELNR','BUZEI','GJAHR','EBELN','EBELP','PACKNO','INTROW','MATNR']
df_consolidated.loc[:,columns]

Field     BELNR BUZEI GJAHR EBELN EBELP PACKNO INTROW MATNR
SAP_Table
BKPF        1.0         1.0
BSAK        1.0   1.0   1.0   1.0   1.0
BSEG        1.0   1.0   1.0   1.0   1.0                 1.0
EKPO                          1.0   1.0    1.0          1.0
EKKO                          1.0
EBAN                          1.0   1.0    1.0          1.0
EKBE        1.0   1.0   1.0   1.0   1.0    1.0    1.0   1.0
EKKN                          1.0   1.0
ESLL        1.0                            1.0    1.0
ESLH                          1.0   1.0    1.0
MAKT                                                    1.0