## Splitting of Purchase Notebook

In [5]:
import pandas as pd
import numpy as np
import os

In [6]:
os.getcwd()

'C:\\Users\\wengz\\Desktop\\ZS_Github\\Data_Engineering\\Splitting of Purchase'

In [9]:
df_raw = pd.read_excel("./data/split_purchase_data.xlsx")

In [11]:
df_raw.head(10)

,Purchasing Department,Purchase Requisition Number,Purchase Requisition Date,Item,Item Category,Vendor,Total Value
0,Dept001,10001001,2022-01-12,Equipment AA,Equipment,V0001,2000
1,Dept001,10001002,2022-01-15,Equipment AA,Equipment,V0001,4000
2,Dept001,10001003,2022-01-14,Equipment AB,Equipment,V0002,3000
3,Dept001,10001004,2022-02-14,Equipment AB,Equipment,V0003,6000
4,Dept001,10001005,2022-02-15,Equipment AB,Equipment,V0004,8000
5,Dept002,10001006,2022-01-16,Equipment AA,Equipment,V0001,4000
6,Dept002,10001007,2022-01-17,Equipment AB,Equipment,V0002,3000