# Data Wrangling with Spark SQL Quiz

This quiz uses the same dataset and most of the same questions from the earlier "Quiz - Data Wrangling with Data Frames Jupyter Notebook." For this quiz, however, use Spark SQL instead of Spark Data Frames.

In [1]:
from pyspark.sql import SparkSession

# TODOS: 
# 1) import any other libraries you might need
# 2) instantiate a Spark session 
# 3) read in the data set located at the path "data/sparkify_log_small.json"
# 4) create a view to use with your SQL queries
# 5) write code to answer the quiz questions

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import desc
from pyspark.sql.functions import asc
from pyspark.sql.functions import sum as Fsum

import datetime

import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [3]:
spark = SparkSession \
    .builder \
    .appName("Data wrangling with Spark SQL") \
    .getOrCreate()

In [4]:
path = "data/sparkify_log_small.json"
user_log = spark.read.json(path)

In [5]:
user_log.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: long (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

# Question 1

Which page did user id ""(empty string) NOT visit?

In [7]:
user_log.createOrReplaceTempView("user_log_table")

In [10]:
# TODO: write your code to answer question 1
spark.sql('''
select page from user_log_table
where
userId = ""
''').show()

+-----+
| page|
+-----+
|Login|
| Home|
| Home|
| Home|
|Login|
|Login|
| Home|
| Home|
|Login|
| Home|
|Login|
| Home|
| Help|
| Home|
|Login|
| Home|
|Login|
| Home|
|Login|
| Home|
+-----+
only showing top 20 rows

# Question 2 - Reflect

Why might you prefer to use SQL over data frames? Why might you prefer data frames over SQL?

# Question 3

How many female users do we have in the data set?

In [11]:
spark.sql('''
select distinct gender from user_log_table
''').show()

+------+
|gender|
+------+
|     F|
|  null|
|     M|
+------+

In [34]:
# TODO: write your code to answer question 3
spark.sql('''
select count(distinct userId) from user_log_table
where gender = "F"
''').show()

+----------------------+
|count(DISTINCT userId)|
+----------------------+
|                   462|
+----------------------+

# Question 4

How many songs were played from the most played artist?

In [28]:
# TODO: write your code to answer question 4
artist = spark.sql('''
    SELECT artist, count(song) as num_songs
    FROM user_log_table
    GROUP BY artist
    ORDER BY cast(num_songs as int) DESC
''')

In [29]:
artist.show()

+--------------------+---------+
|              artist|num_songs|
+--------------------+---------+
|            Coldplay|       83|
|       Kings Of Leon|       69|
|Florence + The Ma...|       52|
|            BjÃÂ¶rk|       46|
|       Dwight Yoakam|       45|
|       Justin Bieber|       43|
|      The Black Keys|       40|
|         OneRepublic|       37|
|                Muse|       36|
|        Jack Johnson|       36|
|           Radiohead|       31|
|        Taylor Swift|       29|
|Barry Tuckwell/Ac...|       28|
|          Lily Allen|       28|
|               Train|       28|
|          Nickelback|       27|
|           Metallica|       27|
|           Daft Punk|       27|
|          Kanye West|       26|
|Red Hot Chili Pep...|       24|
+--------------------+---------+
only showing top 20 rows

In [32]:
artist_string = artist.toPandas().loc[0,"artist"]

In [33]:
num_songs = artist.toPandas().loc[0,"num_songs"]

# Question 5 (challenge)

How many songs do users listen to on average between visiting our home page? Please round your answer to the closest integer.

In [ ]:
# TODO: write your code to answer question 5